/*GENEREL STYLING START*/
* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding-top: 0px;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 0.6rem;
  line-height: 1.6;
}

h2 {
  font-size: 0.8rem;
  padding-left: 2%;
  font-weight: normal;
  text-align: center;
  line-height: 1.8;
}

h3 {
  font-size: xx-small;
  font-weight: lighter;
}

hr {
  display: block;
  border: 2px solid black;
  overflow: hidden;
  width: 85vw;
  margin-top: 1%;
  margin-bottom: 1%;
}
/*GENEREL STYLING SLUT*/

/*NAVIGATIONS BAR START*/
ul {
  list-style-type: none;
  margin-top: 6%;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: x-small;
  text-align: center;
  justify-self: center;
  display: block;
  font-weight: bold;
}
/*NAVIGATIONS BAR SLUT*/

/*HEADER START*/
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 7vh;
  width: 100%;
  grid-gap: 2%;
  margin: 2%;
}

.navn {
  grid-column: 1 / 2;
  font-size: 1.5rem;
  justify-self: left;
  padding: 2%;
  white-space: nowrap;
}

.logo {
  grid-column: 2 / 3;
  height: 90%;
  width: auto;
  align-items: center;
  justify-self: end;
  padding-right: 8px;
  padding-top: 3px;
}
/*HEADER SLUT*/

/*SYMBOLER I ABOUT START*/
.instagramsymbol {
  width: 12px;
  height: 12px;
  padding-right: 4px;
  padding-left: 2px;
}

.span-insta {
  display: inline-block;
  font-size: xx-small;
  display: flex;
  justify-content: start;
}

.telefonsymbol {
  width: 12px;
  height: 12px;
  padding-right: 4px;
  padding-left: 2px;
}

.span-telefon {
  display: inline-block;
  font-size: xx-small;
  display: flex;
  justify-content: start;
}

.emailsymbol {
  width: 12px;
  height: 10px;
  padding-right: 4px;
  padding-left: 2px;
  padding-top: 6px;
}

.span-email {
  display: inline-block;
  font-size: xx-small;
  display: flex;
  justify-content: start;
}

/*SYMBOLER I ABOUT SLUT*/

/*SEKTION OVERSIGT START*/
.sektion1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "about motivation motivation";
  grid-gap: 3%;
  padding: 0% 2%;
}

.sektion2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "dotworkbeskrivelse duckling pottedplant"
    "dotworkbeskrivelse hibiscus cow"
    ". tanker .";
  grid-gap: 3%;
  padding: 0% 2%;
  margin-top: 10%;
}

.sektion3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "digitaltbeskrivelse megan emmy"
    "digitaltbeskrivelse naomi flowers"
    ". headless tom"
    ". tanker .";
  grid-gap: 3%;
  padding: 0% 2%;
  margin-top: 20%;
}

.sektion4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "symbolerbeskrivelse okolariet1 okolariet2"
    "symbolerbeskrivelse vindmoelle pear"
    ". jordklodespire by"
    ". finelinerlogo telefon"
    ". instagram email";
  grid-gap: 3%;
  padding: 0% 2%;
  margin-top: 30%;
}

.sektion5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "projektbeskrivelse boardgame boardgame"
    "projektbeskrivelse illusion illusion"
    ". comparison comparison"
    ". sketch sketch"
    ". visual visual";
  grid-gap: 3%;
  padding: 0% 2%;
  margin-top: 40%;
}
/*SEKTION OVERSIGT SLUT*/

/* SEKTION 1 START*/
.about {
  grid-column: 1 / 2;
  grid-area: about;
  background-color: #ade0ff;
  height: fit-content;
  font-size: x-small;
  padding: 3px;
  box-sizing: border-box;
}

.infotitel {
  font-weight: bold;
  font-size: 1rem;
}

.motivation {
  grid-column: 2 / 4;
  grid-area: motivation;
  height: fit-content;
  box-sizing: border-box;
}
/* SEKTION 1 SLUT*/

/*SEKTION 2 START*/
.dotworkbeskrivelse {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-area: dotworkbeskrivelse;
  width: 100%;
  background-color: #ade0ff;
  grid-gap: 3%;
  height: fit-content;
  padding: 3px;
}

.duckling {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-area: duckling;
  width: 100%;
  box-sizing: border-box;
}

.ducklingpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.pottedplant {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  grid-area: pottedplant;
  width: 100%;
  box-sizing: border-box;
}

.pottedplantpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.hibiscus {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-area: hibiscus;
  width: 100%;
  box-sizing: border-box;
}

.hibiscuspic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.cow {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  grid-area: cow;
  width: 100%;
  box-sizing: border-box;
}

.cowpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.tanker {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  grid-area: tanker;
  width: 100%;
  box-sizing: border-box;
}

.tankerpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}
/*SEKTION 2 SLUT*/

/*SEKTION 3 START*/
.digitaltbeskrivelse {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-area: digitaltbeskrivelse;
  width: 100%;
  background-color: #ade0ff;
  height: fit-content;
  box-sizing: border-box;
  padding: 3px;
}

.megan {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-area: megan;
  width: 100%;
  box-sizing: border-box;
}

.meganpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.emmy {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  grid-area: emmy;
  width: 100%;
  box-sizing: border-box;
}

.emmypic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.naomi {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-area: naomi;
  width: 100%;
  box-sizing: border-box;
}

.naomipic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.flowers {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  grid-area: flowers;
  width: 100%;
  box-sizing: border-box;
}

.flowerspic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.headless {
  grid-column: 2 / 3;
  grid-row: 3 / 3;
  grid-area: headless;
  width: 100%;
  box-sizing: border-box;
}

.headlesspic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.tom {
  grid-column: 2 / 3;
  grid-row: 4 / 4;
  grid-area: tom;
  width: 100%;
  box-sizing: border-box;
}

.tompic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.ariana {
  grid-column: 3 / 4;
  grid-row: 3 / 3;
  grid-area: ariana;
  width: 100%;
  box-sizing: border-box;
}

.arianapic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}
/*SEKTION 3 SLUT*/

/*SEKTION 4 START*/
.symbolerbeskrivelse {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-area: symbolerbeskrivelse;
  width: 100%;
  background-color: #ade0ff;
  box-sizing: border-box;
  height: fit-content;
  padding: 3px;
}

.projekt2rapport1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  grid-area: jordklode1;
  width: 100%;
  box-sizing: border-box;
}

.projekt2rapport1pic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.projekt2rapport2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  grid-area: jordklode2;
  width: 100%;
  box-sizing: border-box;
}

.projekt2rapport2pic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.vindmoelle {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-area: vindmoelle;
  width: 100%;
  box-sizing: border-box;
}

.vindmoellepic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.pear {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  grid-area: pear;
  width: 100%;
  box-sizing: border-box;
}

.pearpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.jordklodespire {
  grid-column: 2 / 3;
  grid-row: 3/ 4;
  grid-area: jordklodespire;
  width: 100%;
  box-sizing: border-box;
}

.jordklodespirepic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.by {
  grid-column: 3 / 4;
  grid-row: 3 /4;
  grid-area: by;
  width: 100%;
  box-sizing: border-box;
}

.bypic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.finelinerlogo {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  grid-area: finelinerlogo;
  width: 100%;
  box-sizing: border-box;
}

.finelinerlogopic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.telefon {
  grid-column: 3 / 4;
  grid-row: 4/ 5;
  grid-area: telefon;
  width: 100%;
  box-sizing: border-box;
}

.telefonpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.instagram {
  grid-column: 2 / 3;
  grid-row: 5/ 6;
  grid-area: instagram;
  width: 100%;
  box-sizing: border-box;
}

.instagrampic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.email {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  grid-area: email;
  width: 100%;
  box-sizing: border-box;
}

.emailpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}
/*SEKTION 4 SLUT*/

/*SEKTION 5 START*/
.projektbeskrivelse {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  grid-area: projektbeskrivelse;
  width: 100%;
  background-color: #ade0ff;
  box-sizing: border-box;
  height: fit-content;
  padding: 3px;
}

.boardgame {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  grid-area: boardgame;
  width: 100%;
  box-sizing: border-box;
}

.boardgamepic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.comparison {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  grid-area: comparison;
  width: 100%;
  box-sizing: border-box;
}

.comparisonpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.sketch {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  grid-area: sketch;
  width: 100%;
  box-sizing: border-box;
}

.sketchpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}

.visual {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  grid-area: visual;
  width: 100%;
  box-sizing: border-box;
}

.visualpic {
  height: auto;
  width: 100%;
  object-fit: cover;
  border: 3px solid black;
  box-sizing: border-box;
}
/*SEKTION 5 SLUT*/

/*MEDIA QUERIES*/
@media screen and (min-width: 505px) {
  p {
    font-size: 0.7rem;
  }

  li a {
    margin-bottom: 5px;
    margin-top: 8px;
  }

  .navn {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 540px) {
  hr {
    border: 2px solid black;
    margin-left: 15px;
    margin-top: 5px;
  }

  .navn {
    font-size: 2rem;
  }

  li a {
    margin-top: 8px;
    font-size: small;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

}

@media screen and (min-width: 604px) {
  p {
    font-size: 0.7rem;
    line-height: 1.6;
  }

  .span-telefon {
    font-size: 0.7rem;
  }

  .span-email {
    font-size: 0.7rem;
  }

  .span-instagram {
    font-size: 0.7rem;
  }

  /*KONTAKT INFO I INFO BOKS*/
      .span-insta {
        font-size: 0.7rem;
      }

      .instagramsymbol {
        width: 20px;
        height: auto;
        padding-right: 4px;
        padding-left: 2px;
      }

      .span-email {
        font-size: 0.7rem;
      }

      .emailsymbol {
        width: 2px;
        height: 15px;
        padding-right: 4px;
        padding-left: 2px;
      }

      .span-telefon {
        font-size: 0.7rem;
      }

      .telefonsymbol {
        width: 20px;
        height: auto;
        padding-right: 4px;
        padding-left: 2px;
      }
      /*KONTAKT INFO I INFO BOKS*/
  /*hr linjen??????? skal være bredere*/
}

@media screen and (min-width: 700px) {
  p {
    font-size: 0.8rem;
    line-height: 1.6;
  }

  h2 {
    margin-top: 15px;
  }

  h3 {
    font-size: 1.1rem;
  }

  .navn {
    font-size: 2.5rem;
  }

  li a {
    font-size: 1rem;
    margin-top: 15px;
  }

  /*KONTAKT INFO I INFO BOKS*/
      .span-insta {
        font-size: 0.8rem;
      }

      .instagramsymbol {
        width: 25px;
        height: auto;
        padding-right: 4px;
        padding-left: 2px;
      }

      .span-email {
        font-size: 0.8rem;
      }

      .emailsymbol {
        width: 25px;
        height: 15px;
        padding-right: 4px;
        padding-left: 2px;
      }

      .span-telefon {
        font-size: 0.8rem;
      }

      .telefonsymbol {
        width: 20px;
        height: auto;
        padding-right: 4px;
        padding-left: 4px;
      }
      /*KONTAKT INFO I INFO BOKS*/
}

@media screen and (min-width: 992px) {
  /*TEKSTER START*/
    p {
      font-size: 1.3rem;
      line-height: 1.6;
    }

    h2 {
      font-size: 1.2rem;
      padding-left: 2%;
      padding-bottom: 1rem;
      font-weight: normal;
      text-align: center;
    }

    h3 {
      font-size: 1.2rem;
      font-weight: lighter;
    }

    hr {
      border: 3px solid black;
      margin-bottom: 10px;
      margin-left: 20px;
      width: 85vw;
    }

    .mellemrum {
      color: #ade0ff;
    }
  /*TEKSTER SLUT*/

/*KONTAKT INFO I INFO BOKS*/
    .span-insta {
      font-size: 1.2rem;
    }

    .instagramsymbol {
      width: 30px;
      height: auto;
      padding-right: 4px;
      padding-left: 2px;
    }

    .span-email {
      font-size: 1.2rem;
    }

    .emailsymbol {
      width: 35px;
      height: 25px;
      padding-right: 4px;
      padding-left: 2px;
    }

    .span-telefon {
      font-size: 1.2rem;
    }

    .telefonsymbol {
      width: 30px;
      height: auto;
      padding-right: 4px;
      padding-left: 2px;
    }
    /*KONTAKT INFO I INFO BOKS*/

    /*NAV/HEADER START*/
    ul {
      margin-top: 8%;
    }

    li a {
      font-size: 1.8rem;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    h2 {
      font-size: 1.8rem;
    }

    .navn {
      font-size: 3.8rem;
      margin-left: 15px;
    }

    .logo {
      height: 90px;
      width: 90px;
      padding-top: 20px;
      margin-right: 20%;
      justify-self: right;
    }

    .header-grid {
      margin: 0;
    }
    /*NAVIGATIONS BAR SLUT*/

    /*KATEGORI BESKRIVELSER TITLER START*/
    .infotitel {
      font-size: 2rem;
      font-weight: bold;
    }

    .about {
      height: fit-content;
      padding: 2%;
    }

    .dotworkbeskrivelse {
      font-size: 2rem;
      height: fit-content;
      padding: 2%;
    }

    .digitaltbeskrivelse {
      font-size: 2rem;
      height: fit-content;
      padding: 2%;
    }

    .symbolerbeskrivelse {
      font-size: 2rem;
      height: fit-content;
      padding: 2%;
    }

    .projektbeskrivelse {
      font-size: 2rem;
      height: fit-content;
      padding: 2%;
    }
    /*KATEGORI BESKRIVELSER TITLER SLUT*/
  }
/*WEB VERSION SLUT*/
